TOKEN=YOUR_BOT_TOKEN_HERE
MONGO_URI=YOUR_MONGODB_URI_HERE
OWNER_IDS=1443924448230117436
BOT_INVITE_URL=https://discord.com/oauth2/authorize?client_id=1513321984489033818&permissions=8&scope=bot
SUPPORT_SERVER_URL=https://discord.gg/Sq55JBAE8
DEFAULT_PREFIX=!
BOT_VERSION=1.0.0
